/* stylesheet */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #606c8869, #7380a0),
    url('../images/bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

/* header-section */

header {
  display: flex;
  border: 2px solid #483737;
  padding: 0 30px;
  justify-content: space-between;
}

.header-logo {
  color: blue;
}

.time {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.desktop-menu {
  display: none;
}

/* navbar-section */

.btn-hamburger {
  background: transparent;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.fa-bars {
  font-size: 30px;
}

.mobile-menu-c {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 100vh;
  width: 100vw;
  background-color: #6070ffde;
  display: none;
  backdrop-filter: blur(3px);
}

.btn-close {
  background: transparent;
  border: none;
  float: right;
  margin: 20px 55px 0 0;
}

.fa-times {
  font-size: 25px;
  color: #fff;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 20px;
  margin: 80px 0 0 50px;
}

.mobile-item {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.mobile-item:hover {
  color: blue;
  border: 1px solid blue;
}

/* main-section */

.main-heading {
  text-align: center;
  color: #fff;
  font-weight: 600;
}

h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.list-of-book {
  border: 2px solid #483737;
  background: #fff;
}

.book-items {
  margin: 0;
  padding: 0;
}

.book-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.book-item:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.288);
}

.book-item:last-child {
  padding-bottom: 8px;
}

.book-data {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bolder;
}

.remove {
  margin-left: auto;
  height: 20px;
  border: 2px solid #483737;
  box-shadow: 2px 2px #483737;
  color: #fff;
  background: #dc3545;
  font-weight: 400;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 5px;
  width: 250px;
  border: 2px solid #483737;
}

::placeholder {
  font-weight: bold;
  color: black;
}

.btn-add {
  font-weight: bold;
  margin-left: 215px;
  border: 2px solid #483737;
  padding: 4px 10px;
  box-shadow: 2px 2px #483737;
  color: #fff;
  background: #28a745;
}

hr {
  width: 100px;
  margin-top: 30px;
  background-color: #000;
  height: 3px;
  border: none;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  color: #fff;
  font-size: 30px;
}

.contact-details {
  color: #fff;
  font-size: 20px;
}

.contact-item {
  color: #fff;
  font-size: 15px;
}

footer {
  margin-top: 30px;
  display: flex;
  border: 2px solid #483737;
  padding: 10px 50px;
  justify-content: space-between;
}

.copyright-heading {
  color: blue;
  margin-top: 13px;
}

.copyright-details {
  color: white;
}

/* desktop style */

@media screen and (min-width: 768px) {
  .desktop-menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  .desktop-item {
    text-decoration: none;
    color: #fff;
  }

  .desktop-item:hover {
    color: blue;
  }

  .active {
    color: blue;
  }

  .mobile-nav {
    display: none;
  }
}
