/* stylesheet */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.main-heading {
  text-align: center;
}

.list-of-book {
  border: 2px solid black;
}

.book-items {
  margin: 0;
  padding: 0;
}

.book-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.book-item:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.288);
}

.book-item:last-child {
  padding-bottom: 8px;
}
.book-data {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bolder;
}
.remove {
  margin-left: auto;
  height: 20px;
  border: 2px solid black;
  box-shadow: 2px 2px;
}

form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  padding: 5px;
  width: 250px;
  border: 2px solid black;
}
::placeholder {
  font-weight: bold;
  color: black;
}

.btn-add {
  font-weight: bold;
  margin-left: 215px;
  border: 2px solid black;
  padding: 4px 10px;
  box-shadow: 2px 2px;
}
